<article class="postShorten postShorten--thumbnailimg-{{ .Scratch.Get "thumbnailImagePosition" }}" itemscope itemType="http://schema.org/BlogPosting">
  <div class="postShorten-wrap">
    {{ if and (.Scratch.Get "thumbnailImage") (eq (.Scratch.Get "thumbnailImagePosition") "top")}}
      <a href="{{ .Permalink }}">
        <div class="postShorten-thumbnailimg">
          <img alt="" itemprop="image" src="{{ .Scratch.Get "thumbnailImage" }}"/>
        </div>
      </a>
    {{ end }}
    <div class="postShorten-header">
      <h1 class="postShorten-title" itemprop="headline">
        <a class="link-unstyled" href="{{ .Permalink }}">
          {{ .Title }} - ({{ .Params.rating }})
        </a>
      </h1>
    </div>
  </div>
</article>
