<!--EXTERNAL SCRIPTS-->

<!--EXTERNAL SCRIPTS END-->
<!--SCRIPTS-->
<script src="/js/script-5i8of5xkemgyhwk8xbzygkhrsclt4qbt6sgsauyci41g7fbbitcomisdrlp2.min.js"></script>
<!--SCRIPTS END-->

{{ if .Params.pagescripts }}
  {{ range $index,$scriptfilename := .Params.pagescripts }}
    <script src="{{ $scriptfilename }}"></script>
  {{ end }}
{{ end }}

{{ range .Site.Params.customJS }}
  {{ if isset . "src" }}
    <script{{ range $key, $value := . }} {{ if eq $key "src" }}{{ (printf "%s=\"%s\"" $key ($value | absURL)) | safeHTMLAttr }}{{ else }}{{ (printf "%s=\"%s\"" $key (string $value)) | safeHTMLAttr }}{{ end }}{{ end }}></script>
  {{ else }}
    <script src="{{ . | absURL }}"></script>
  {{ end }}
{{ end }}
